@using UmbracoTest.Web.Extensions
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
<head>
	<title>The Galleria - @Umbraco.Field("pageName")</title>
</head>
<body>
	<div>Where am I : @{Html.RenderPartialView("Breadcrumbs", Model.Content);}</div>
	@RenderSection("Common", false)
	@RenderBody()
	<div>@{Html.RenderPartialView("Navigation", Model.Content);}</div>
</body>	
</html>