@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<html>
	<head>
	<title>@Umbraco.Field("pageName")</title>
	</head>
	<body>
	@Umbraco.RenderMacro("TestPartialViewMacro")
	<h2>@Umbraco.Field("title")</h2>
	<hr />
	<div>@Umbraco.Field("bodyContent")</div>
	</body>
</html>