@using UmbracoTest.Web.Models
@model ImageGalleryViewModel


<div style="width: 50%;margin-left:0;margin-right:auto">
	<div>THE GALLERIA</div>
	<ul style="list-style-type:none;">
		@foreach(var photo in Model.Gallery)
		{
			<li style="float: left;padding: 5px;">
				<img style="width: 100px;" src="@photo.ImageUrl" />
				<p>@photo.ImageComment</p>
			</li>
		}

	</ul>
</div>
<div style="clear:both;float:none;">&nbsp;</div>