@using UmbracoTest.Web.Controllers
@using UmbracoTest.Web.Models
@model ImageCommentViewModel

<div>Share your photos</div>

@using (@Html.BeginUmbracoForm<ImageSurfaceController>
        (
        "UploadImage",
        null,
        new Dictionary<string, object>()
        {
            { "id", "upload-form" }, 
            { "accept-charset", "utf-8" }
        }))
{
        <div>
        	@Html.Label("Your Photo: ")
			<input type="file" name="mediaFiles" /> 
        </div>        
        <div>
        	@Html.Label("Your Comments: ")
        	@Html.TextBoxFor(m => m.ImageComment, 
            new
            {
                id = "img-comment",
                style = "border: 1px solid #f00;",
                @value = ""
            })
        </div>
        <div>
        	<input type="submit" name="submit" value="Share!" />
        </div>
}